@import 'materialize-css/dist/css/materialize';

body {
  display: flex;
  min-height: 10vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}