<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      © <%= Time.now.year %> Copyright
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">Made by <a href="https://www.linkedin.com/in/hugo-morais/">Hugo Morais</a></div>
  </div>
</footer>
    