<nav>
  <div class="nav-wrapper teal">
    <div class="content">
      <div class="container">
        <%= link_to 'Leads', root_path, class: 'brand-logo' %>
      </div>
    </div>
  </div>
</nav>
      